
<div class="about">
	
	<div class="a-row">	LeoJS为个人工作经验知识积累，使用jQuery、d3.js两个类库，实现前端页面自定义表单、基本数据显示。</div>

	<div class="a-row">d3.js使用svg实现自定义图形数据显示，可更方便实现定制化开发，相对于echart显示效果更好、更丰富。</div>

	<div class="a-row">table页面实现基本table样式显示，数据分页、多列排序，合并单元格等复杂表格的处理。</div>

	<div class="a-row">html原生表单控件样式单一、且不可修改，往往不能满足开发需要，自定义表单控件在实现原生控件的功能的同时，优化显示效果，更符合页面主题以及自定义样式复杂页面。</div>

	<div class="a-row">加载动画、弹出层、提示框为web前端常用数据处理、提示的方式，css3实现加载动画摆脱图片的限制，更加灵活便捷，自定义的弹出层、提示框优化页面显示效果。</div>

	<div class="a-row">所有代码个人独立完成，核心代码加密处理，建议使用Chrome访问！</div>	

	<div class="row-split"></div>

	<div class="a-row rr">联系方式：150-2112-7325(手机、微信)</div>

	<div class="a-row rr">尹龙 -- 2018-08-24</div>

</div>