
<div class="page-body">

	<div class="alert-row1">
		
		<div class="col4">
			<div class="item-box">
				<div class="item-title">popup</div>
				<div class="item-con">
					<div class="row small">
						<div class="key">title:</div>
						<div class="val"><input type="text" value="popup title" id="input-title"></div>
					</div>
					<div class="row small">
						<div class="key">content:</div>
						<div class="val"><textarea id="input-con">this is popup body content</textarea></div>
					</div>
					<div class="popup-btn">
						<a class='btn bd blue am am-border' id="popup-default"><span>popup default</span></a>
						<a class='btn bd blue am am-rotate' id="popup-form"><span>popup form</span></a>
					</div>					
				</div>
			</div>
		</div>

		<div class="col4">
			<div class="item-box">
				<div class="item-title">alert</div>
				<div class="item-con">
					<div class="row small">
						<div class="key">type:</div>
						<div class="val">
							<div class="radio-group" id="alert-type"></div>
						</div>
					</div>
					<div class="row small">
						<div class="key">content:</div><div class="val"><input type="text" id="alert-con" value="this is alert content"></div>
					</div>
					<div class="row small">
						<div class="key">times:</div><div class="val"><input type="text" disabled="" id="alert-time"></div>
					</div>
					<div class="row-alert-btn">
						<a class='btn bd green am am-scale' id="btn-alert"><span>alert</span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="col4">
			<div class="item-box">
				<div class="item-title">icon</div>
				<div class="item-con">
					<div class="icon-row">
						<i class='icon icon-add'></i><i class='icon icon-remove'></i><i class='icon icon-close'></i>
						<i class='icon icon-check'></i><i class='icon icon-arrow_right'></i><i class='icon icon-arrow_up'></i>
						<i class='icon icon-arrow_down'></i><i class='icon icon-arrow_left'></i><i class='icon icon-code'></i>				
					</div>
					<div class="icon-row">
						<i class='icon icon-first_page'></i><i class='icon icon-last_page'></i><i class='icon icon-capslock'></i>
						<i class='icon icon-colors'></i><i class='icon icon-color'></i><i class='icon icon-date'></i>						
					<i class='icon icon-sun'></i><i class='icon icon-night'></i><i class='icon icon-refresh'></i>
					</div>
					<div class="icon-row">
						<i class='icon icon-edit'></i><i class='icon icon-phone'></i><i class='icon icon-search'></i>
						<i class='icon icon-pc'></i><i class='icon icon-mobile'></i><i class='icon icon-pad'></i>						
						<i class='icon icon-sad'></i><i class='icon icon-neutral'></i><i class='icon icon-fun'></i>
					</div>
					<div class="icon-row">
						<i class='icon icon-person'></i><i class='icon icon-power'></i><i class='icon icon-time'></i>
						<i class='icon icon-favorite'></i>	<i class='icon icon-favorite_empty'></i><i class='icon icon-star_empty'></i>
						<i class='icon icon-star_half'></i><i class='icon icon-thumb_down'></i><i class='icon icon-thumb_up'></i>
					</div>
				</div>
			</div>			
		</div>

	</div>

	<div class="alert-row2">
		
		<div class="col6">
			<div class="item-box">
				<div class="item-title">image show</div>
				<div class="item-con">

					<div class="row">
						<div class="key">单张图</div>
						<div class="val">
							<div class="img-list" imgs='timg.jpg' >
								<a ><img src="resource/image/timg.jpg" alt=""></a>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="key">多张图</div>
						<div class="val">
							<div class="img-list" imgs='timg2.jpg,timg3.jpg,timg4.jpg' >
								<a ii="0"><img src="resource/image/timg2.jpg" ></a>
								<a ii="1"><img src="resource/image/timg3.jpg" ></a>
								<a ii="2"><img src="resource/image/timg4.jpg" ></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col6">
			
			<div class="item-box">
				<div class="item-title">loading</div>
				<div class="item-con">

					<div class="loading-row">
						
						<div class="loading-item">
							<div class="loading loading1"><span></span><span></span><span></span><span></span><span></span></div>
						</div>
						<div class="loading-item">
							<div class="loading loading2"><span></span><span></span><span></span><span></span><span></span></div>
						</div>
						<div class="loading-item">
							<div class="loading loading3"></div>
						</div>
						<div class="loading-item">
							<div class="loading loading4"><span></span><span></span><span></span><span></span></div>
						</div>

					</div>

					<div class="loading-row">
						
						<div class="loading-item">
							<div class="loading loading5"><span></span><span></span><span></span><span></span><span></span></div>
						</div>
						<div class="loading-item">
							<div class="loading loading6"><span></span><span></span><span></span><span></span></div>
						</div>
						<div class="loading-item">
							<div class="loading loading7">
								<span></span><span></span><span></span><span></span>
								<span></span><span></span><span></span><span></span>
							</div>
						</div>
						<div class="loading-item">
							<div class="loading loading8"><span></span></div>							
						</div>

					</div>

				</div>
			</div>

		</div>

	</div>

</div>