
<div class="templete">

	<div class="date single" tabindex="10">
		
		<div class="ym">
			<div class="ym-right"><a class='month-next'></a><a class='year-next'></a></div>		
			<div class="ym-left"><a class='year-prev'></a><a class='month-prev'></a></div>
			<div class="ym-center"><a class="year">yyyy</a><span>-</span><a class="month">MM</a></div>				
		</div>
		<div class="week">
			<span>一</span><span>二</span><span>三</span><span>四</span><span>五</span><span>六</span><span>日</span>
		</div>
		<div class="day">
			{{days}}
		</div>
		
	</div>


	<div class="date range" tabindex="10">
		
		<div class="date-start">
			
			<div class="ym">
				<div class="ym-right"><a class='month-next'></a><a class='year-next'></a></div>		
				<div class="ym-left"><a class='year-prev'></a><a class='month-prev'></a></div>
				<div class="ym-center"><a class="year">yyyy</a><span>-</span><a class="month">MM</a></div>				
			</div>			
			<div class="week">
				<span>一</span><span>二</span><span>三</span><span>四</span><span>五</span><span>六</span><span>日</span>
			</div>			
			<div class="day">
				{{start-days}}
			</div>
			
		</div>
		<div class="date-split"></div>	
		<div class="date-end">
			
			<div class="ym">
				<div class="ym-right"><a class='month-next'></a><a class='year-next'></a></div>		
				<div class="ym-left"><a class='year-prev'></a><a class='month-prev'></a></div>
				<div class="ym-center"><a class="year">yyyy</a><span>-</span><a class="month">MM</a></div>				
			</div>			
			<div class="week">
				<span>一</span><span>二</span><span>三</span><span>四</span><span>五</span><span>六</span><span>日</span>
			</div>			
			<div class="day">
				{{edn-days}}
			</div>
			
		</div>
			
	</div>
	
	<div class="date time" tabindex="10">
		
		<div class="calendar">
			
			<div class="ym">
				<div class="ym-right"><a class='month-next'></a><a class='year-next'></a></div>		
				<div class="ym-left"><a class='year-prev'></a><a class='month-prev'></a></div>
				<div class="ym-center"><a class="year">yyyy</a><span>-</span><a class="month">MM</a></div>				
			</div>			
			<div class="week">
				<span>一</span><span>二</span><span>三</span><span>四</span><span>五</span><span>六</span><span>日</span>
			</div>			
			<div class="day">
				{{days}}
			</div>
			
		</div>
		<div class="date-split"></div>	
		<div class="Hm">
			<div class="hour"></div>
			<div class="minute"></div>
		</div>
		
	</div>
	

</div>