
<div class="popup-form">

	<div class="row">
		<div class="key">account:</div><div class="val"><input type="text"></div>
	</div>

	<div class="row">
		<div class="key">user name:</div><div class="val"><input type="text"></div>
	</div>

	<div class="row">
		<div class="key">user sex:</div><div class="val">
			<div class="radio-group">
				<a class="radio"></a>man<a class="radio"></a>woman
			</div>
		</div>
	</div>

	<div class="row">
		<div class="key">hire date:</div><div class="val"><div class="date-sel"><input type="text"></div></div>		
	</div>

	<div class="row">
		<div class="key">department:</div><div class="val">
			<div class="select" tabindex="10"><input type="text" readonly="" class='sc'>
				<div class="sel-list scroll sc"><ul class='scroll-con'>
					<li lname="Marketing Department">Marketing Department</li>
					<li lname="Ministry of Technology">Ministry of Technology</li>
					<li lname="Ministry of Personnel">Ministry of Personnel</li>
					<li lname="Development Department">Development Department</li>
					<li lname="Finance Department">Finance Department</li>
				</ul>
				<div class="scroll-bar"></div></div>
			</div>		
		</div>
	</div>

	<div class="row">
		<div class="key">remark</div><div class="val"><textarea ></textarea></div>
	</div>

	<div class="row-popup-btn">
		<a class='btn bd yellow' id="btn-cancle"><span>cancle</span></a>
		<a class='btn bd green am am-scale' id="btn-save"><span>submit</span></a>
	</div>

</div>