

<div class="page-body">
						
	<div class="table-row1">
		<div class="col4">
			<div class="item-box">
				<div class="item-title">奇偶分行</div>
				<div class="item-con">
					<table class='odd-even' id="table1"></table>
				</div>
			</div>
		</div>
		<div class="col4">
			<div class="item-box">
				<div class="item-title">底部实线</div>
				<div class="item-con">
					<table class='border-bottom' id="table2"></table>
				</div>
			</div>
		</div>
		<div class="col4">
			<div class="item-box">
				<div class="item-title">全实线</div>
				<div class="item-con">
					<table class='border' id="table3"></table>
				</div>
			</div>
		</div>
	</div>

	<div class="table-row2">
		
		<div class="col6">
			<div class="item-box item-paging">
				<div class="item-title">分页列表</div>
				<div class="item-con">
					<div class="table sort paging scroll" id="table-paging">
						<div class="scroll-con">
							<table class="odd-even">
								<thead><tr><th>number</th><th>name-en</th><th>name-cn</th><th>state</th></tr></thead>
								<tbody></tbody>
							</table>
						</div>						
					</div>					
				</div>
			</div>
		</div>	

		<div class="col6">
			<div class="item-box">
				<div class="item-title">合并单元格</div>
				<div class="item-con merge">
					<div class="table scroll">
						<div class="scroll-con">
							<table class="border" id="merge-table">
								<thead><tr><th>name</th><th>child</th><th>num</th><th>num-name</th></tr></thead>
								<tbody>
									
								</tbody>
							</table>
						</div>						
					</div>					
				</div>

			</div>
		</div>

	</div>

</div>